/* Sources.css */

/* Container styling */
.Sources {
  position: relative;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* height: 100%; */
  padding: 2% 0px;
}


.background-image-1::before {
  content: "";
  background-image: url(/src/Images/istockphoto-1310384629-612x612.jpg);
  border-radius: 5%;
  opacity: 0.5;
  /* Change the opacity value (0.5) to your desired level */
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.background-image-2::before {
  content: "";
  border-radius: 5%;
  background-image: url("../../Images/generator_background.jpeg");
  opacity: 0.5;
  /* Change the opacity value (0.5) to your desired level */
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}



.background-image-3::before {
  content: "";
  border-radius: 5%;
  background-image: url(/src/Images/istockphoto-1317320827-170667a.webp);
  opacity: 0.5;
  /* Change the opacity value (0.5) to your desired level */
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/* Source box styling */
.source-box {
  display: flex;
  flex-grow: 0.8;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 13px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 90%;
  /* your liking */
  /* max-height: 329px; */
}

/* Source title styling */
.source-box h1 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 16px;
}

/* Source image styling */
.source-box img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 16px;
}

/* Source items container */

.source-items {
  display: flex;
  flex-direction: row;
  width: 90%;
  overflow-x: auto;
  align-items: center;
  max-height: 300px;
  padding-right: 16px;
  margin-right: -16px;
}

.source-items::-webkit-scrollbar {
  width: 0;
  height: 0;
}